 {%extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}
   {% block body %}
  <main class="form-connect" >

    <form method="post" class="form-container" enctype="multipart/form-data">
    <h4>Modifier une annonce</h4>
    
    <img src="{{ property.img }}" alt="Image actuelle" style="max-width:300px;"><br>

    <label for="image">Changer l’image (optionnel)</label>
    <input type="file" id="image" name="image" accept="image/png, image/jpeg, image/jpg, image/webp" />

    <label for="title">Titre :</label>
    <input type="text" name="title" id="title" required value="{{ property.title }}">

    <label for="property-type">Type de bien :</label>
    <select id="property-type" name="property_type" required>
        <option value="">--Préciser le type de bien svp--</option>
        <option value="1" {% if property.propertyTypeId == 1 %}selected{% endif %}>Maison</option>
        <option value="2" {% if property.propertyTypeId == 2 %}selected{% endif %}>Appartement</option>
    </select>

    <label for="price">Prix (€) :</label>
    <input type="number" name="price" id="price" required value="{{ property.price }}">

    <label for="city">Ville :</label>
    <input type="text" name="location" id="location" required value="{{ property.city }}">

    <label for="transaction-type">Type de transaction :</label>
    <select id="transaction-type" name="transaction_type" required>
        <option value="">--Préciser le type de transaction--</option>
        <option value="rent" {% if property.transaction == 'rent' %}selected{% endif %}>Location</option>
        <option value="sale" {% if property.transaction == 'sale' %}selected{% endif %}>Vente</option>
    </select>

    <label for="description">Description :</label>
    <textarea id="description" name="description" cols="30" rows="10" required>{{ property.description }}</textarea>

    <button type="submit">Modifier l'annonce</button>
      
    <div>Retour à l'<a href="{{ path('home') }}">accueil</a></div>
</form>
</main>
{% endblock %}