{% set method = method|default('POST') %}

{% if method != 'GET' %}

    <form action="{{ action }}" method="{{ method }}"
          {% if confirm is defined %}onsubmit="return confirm('{{ confirm }}');"{% endif %}>
          
        {% if csrfToken is defined %}
            <input type="hidden" name="_token" value="{{ csrf_token(csrfToken) }}">
        {% endif %}
        
        {% if hiddenId is defined %}
            <input type="hidden" name="id" value="{{ hiddenId }}">
        {% endif %}
        
        <button type="submit" class="button-item {{ color|default('') }}"
                {% if submitName is defined %}name="{{ submitName }}"{% endif %}>
            {{ text }}
        </button>
    </form>
{% else %}
    <a href="{{ action }}" class="button-item {{ color|default('') }}"
       {% if confirm is defined %}onclick="return confirm('{{ confirm }}');"{% endif %}>
        {{ text }}
    </a>
{% endif %}