<header> 
    <h1>Find My Dream Home</h1>
    <nav class="nav-links">
        <a href="{{ path('home') }}">Home</a> 
        <a href="{{ path('listing_by_type', {'name': 'Apartment'}) }}">Apartments</a>
        <a href="{{ path('listing_by_type', {'name': 'House'}) }}">House</a>
        <a href="{{ path('listing_search') }}">Search</a> 
        {% if app.user %}
        <a href="{{ path('add') }}">Add</a> 
        <a href="{{ path('favorite') }}">Favoris</a>
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_dashboard') }}">Dashboard</a> 
         {% endif %}
         {% if app.user and is_granted('ROLE_AGENT') %}
        <a href="{{ path('agent_dashboard') }}">Dashboard</a> 
         {% endif %} 
        <a href="{{ path('app_logout') }}">Logout</a> 
        {% endif %}
        {% if not app.user %}
         <a href="{{ path('app_login') }}">Login</a> 
        {% endif %}
       
</header>
