<header>
    <h1>Find My Dream Home</h1>
    <nav class="nav-links">
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('house') }}">House</a>
        <a href="{{ path('apartment') }}">Apartments</a>
        <a href="{{ path('search') }}">Search</a>
        
        <a href="{{ path('add') }}">Add</a>

        <a href="{{ path('favorite') }}">Favoris</a>
       
        <a href="{{ path('login') }}">Login</a>
    </nav>
</header>