<div class="item"> 
    <img src="{{ asset(item.img) }}" alt="Image de l'annonce">
    <h3>{{ item.title|e }}</h3>
    
    <p><strong>Prix :</strong> {{ item.price|number_format(0, ',', ' ') }} €</p>
    <p><strong>Ville :</strong> {{ item.city|e }}</p>
    <p><strong>Description :</strong> {{ item.description|e }}</p>
    <p><strong>Type de transaction :</strong> {{ item.transaction|e }}</p>
    
    <div class="button">
    {# Boutons favoris et suppression selon userId, etc. #}
    {# Favoris #}
    {% set isFavorite = item.id in favoriteIds %}
    {% set buttonText = isFavorite ? 'Retirer des favoris' : 'Ajouter aux favoris' %}
    {% set confirmationText = isFavorite ? 'Retirer des favoris ?' : 'Ajouter aux favoris ?' %}
    {% set buttonColor = isFavorite ? 'red' : 'favorite' %}
    {#{% if app.user %} #}
        {% include 'components/_button.html.twig' with {
            action: path('favorite_add'),
            hiddenId: item.id,
            text: buttonText,
            confirm: confirmationText,
            color: buttonColor
        } %}
    {#{% endif %} #}

    {# Modifier #}
    {#{% if app.user and (item.userId == app.user.id or is_granted('ROLE_ADMIN')) %}#}
        <a href="{{ path('update', {item: item.id}) }}" class="button-item">Modifier</a>

    {# Supprimer #}
    {% include 'components/_button.html.twig' with {
        action: path('delete', {id: item.id}),
        confirm: 'Souhaitez-vous supprimer cette annonce ?',
        hiddenId: item.id,
        csrfToken: 'delete' ~ item.id,
        text: 'Supprimer',
        color: 'red'
    } %}
    {#{% endif %}#}
    </div>
</div>
